{% block content %}
<!DOCTYPE html>
<html>
    <head>

  <body bgcolor="DarkSlateGrey">
    <h1> <style align=""center>
        div {
            background: rgba(197, 215, 221, 0.763);
          }
          
        </style>

    </h1>
<head>
        <style>
        table, th, td {
          border: 1px solid rgb(167, 115, 115);
        }
        </style>
        </head>
     
    <body>
      
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        
        <div class="col-md-9 border-right">
            
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" align="center">Your Bookings</h4>
                </div>
              
                <table align="center"><tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>No of Adults</th>
                    <th>No of Kids</th>
                    <th>Booking For</th>
                    <th>Food Type</th>
                    <th>Email</th>
                    <th>*</th>
           
                 
                  </tr>

                  {% for cre in  cred  %}
                
            
                  <tr>
                    <td>{{cre.name}}</td>
                    <td>{{cre.phon}}</td>
                    <td>{{cre.checkin}}</td>
                    <td>{{cre.checkout}}</td>
                    <th>{{cre.noad}}</th>
                    <td>{{cre.nokid}}</td>
                    <td>{{cre.booking}}</td>
                    <td>{{cre.food}}</td>
                    <td>{{cre.email}}</td>
                  
                    <td><a href="{% url 'deletebook' cre.id %}" class = " btn btn-danger ">Cancel</a></td>
                 
                   
                  </tr>
                  
                  {% endfor %}
                 
                  <tr>
             
              
                    </table>
           
                    </body>
                   
                <br>
       
    
        </div>
        
</div>

    </div>
    
    
</div>
</html>
{% endblock %}
